.App {
  text-align: center;
  padding:10px;
}

.getResponse, .export {
  padding:10px;
  border:1px  solid #613ACA;
  border-radius: 5px;
  margin:0 auto;
  background-color:#613ACA;
  color:#fff;
  margin-bottom: 20px;
}

.export{
  margin-left:20px;
}

.ag-theme-alpine{
  margin:0 auto;
}